@charset "UTF-8";

@media screen and (max-width:540px) {
    nav{
        flex-flow: column;
        flex: 1 1 400px;
        text-align: center;
        padding: 2px;
    }
    nav a{
        margin: 2px;
    }
}